{
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint",
        "import",
        "react",
        "react-hooks",
        "jsx-a11y",
        "prefer-object-spread"
    ],
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "@typescript-eslint/ban-types": "warn",
        "@typescript-eslint/explicit-member-accessibility": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-empty-function": "off",
        "import/no-extraneous-dependencies": "off",
        "no-console": [ "error", { "allow": [ "warn", "error" ] } ],
        "prefer-object-spread/prefer-object-spread": 2,
        "react/prop-types": "off", // we have TS
        "react/jsx-indent": [ "error", 4 ],
        "react/jsx-indent-props": [ "error", 4 ],
        "react/jsx-filename-extension": [ 1, { "extensions": [ ".js", ".jsx", ".ts", ".tsx" ] }],
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    }
}
